*{
  margin: 0;
  padding: 0;
}
.header{
  text-align: right;
  color:white;
  background-image: linear-gradient(to bottom,
  rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)
  ),url('../image/1.jpg');
  width: 100%;
  height: 25em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 76%;
  margin: 5% auto;
  
}
.header__det{
  padding-top: 15%;
  padding-right: 62px;
  font-weight: 700;
    letter-spacing: 3px;
    font-size: 32px;

}
.header__det2{
  padding-right: 15px;
  font-weight: 500;
    letter-spacing: 2px;
    font-size: 21px;
    margin: 20px 0px;
}
.main {
  text-align: center;
  margin-top: 5%;
}
.search{
  display: flex;
  justify-content: center;
}
.search__label{
  margin: 5px;
  padding: 5px;
  
}
.search__input {
  width: 30%;
  height: 3em;
  border-radius: 8px;
  border: 1px solid black;
  outline: none;
  text-align: center;
}

.search__button{
  outline: none;
  text-align: center;
  cursor: pointer;
  background-color: #0a66f7;
  width: 125px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid rgb(177, 177, 226)c4414c;
  color:white;
  font-weight: 500;
  letter-spacing: 2px;
}

.section{
  width: 90%;
  margin: 10% auto;

}

.section__news{
  display: flex;
  flex-direction: row;
  padding: 5%;
  box-shadow: -4px 14px 28px -9px rgba(0,0,0,0.75);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;


}
.section__news__imgArt{
  width: 250px;
  height: 250px;
  padding: 5px;
 
}
.content{
  display: flex;
  flex-direction: column;
  text-align: justify;
  color: rgb(12, 11, 11);
  padding-left: 40px;
}
.section__news__title{
  color: rgb(145, 58, 26);
  font-weight: 500;
   
    margin-bottom: 10px;
}
.section__news__desc{
line-height: 25px;
    font-size: 16px;
    margin-top: 15px;
}
.section__news__link{
  margin-top: 8px;
  margin-bottom: 12px;
  width: 30%;
  text-decoration: none;
  background-color: #0a66f7;
  cursor: pointer;
  color: white;
  padding: 1rem 2rem;
  text-transform: uppercase;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  text-align: center;
}
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.error__desc {
  text-align: center;
  font-size: 1.5em;
}
.error__msg {
  color: #999;
}

@media (max-width: 600px) {

  .header{
    height: 20em;
  }
  .header__det , .header__det2{
  text-align: center;
    display: flex;
    justify-items: center;
    width: 95%;
}

  .main__search__input {
    width: 40%;
  }
  .section__news__link{
    width: 50%;
    padding: 0.5rem 1rem;
  }

  .section__news{
    flex-direction: column;
  }
  .section__news__imgArt{
    margin:5px auto ;
  }
}
