.main {
  text-align: center;
  margin-top: 15%;
}
.main__search__input {
  width: 30%;
  height: 3em;
  border-radius: 20em;
  border: 1px solid black;
  outline: none;
  text-align: center;
}
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.error__desc {
  text-align: center;
  font-size: 1.5em;
}

.error__msg {
  color: #999;
}
